@media all and (max-width: 768px) {
    .nav-toggle {
        order: 5;
        position: relative;
        top: initial;
        left: initial;
        width: 50px;
        height: 50px;
        padding: 5px 10px;
    }

    .logo {
        order: 1;
        margin: 0 0px 0 13px;
        height: 25px;
    }

    .minicart-wrapper {
        order: 4;
        height: 50px;
        width: 50px;
        margin-left: 10px;
    }

    .top-contact {
        order: 3;
        font-size: 12px;
        display: block !important;
    }

    .top-contact > p {
        margin: 0;
    }

    .top-contact > p + p {
        display: none;
    }

    .top-banner .banner {
        overflow: hidden;
    }

    .top-banner h1 {
        font-size: 28px;
    }

    .top-banner h3 {
        font-size: 16px;
    }

    .top-banner .left-content {
        display: table-cell;
    }

    .top-banner .center-content {
        padding-top: 95px;
    }

    .top-banner .right-content {
        vertical-align: baseline;
    }
    .top-banner .right-content img {
        width: 220px;
        position: absolute;
        left: -50px;
        object-fit: contain;
        max-width: unset;
        max-height: unset;
        z-index: 0;
    }

    .top-banner .action-bar {
        max-width: 100%;
        position: relative;
        left: -15px;
        z-index: 2;
    }
    .l-ab {
        padding: 20px 52px 20px 15px;
    }

    .l-ab p {
        font-size: 12px;
    }

    .r-ab {
        font-size: 12px;
        padding: 20px 26px 20px 15px;
    }

    .r-ab h4 {
        font-size: 13px;
    }

    .r-ab p {
        font-size: 7px;
    }

    .exlink {
        width: 30px;
        height: 30px;
        display: block;
    }

    .exlink:after {
        content: "\27F6";
        color: #fff;
        position: absolute;
        z-index: 99;
        left: 5px;
        top: 5px;
        font-size: 12px;
    }
}

.sb-block div {
    display: flex;
    flex-wrap: wrap;
    /* background: url(../images/orionstrom-icon-bullets.svg); */
    background-repeat: repeat-x;
    background-position: 0px bottom;
    background-size: 400px;
}
